<div class="container">
  <div class="mt-5">
    <app-stacked-chart></app-stacked-chart>
  </div>
  <div class="mt-5">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="mt-5">
    <app-barchart-vertical></app-barchart-vertical>
  </div>
  <div class="row">
    <div class="col-5 mt-5">
      <app-gauge-chart></app-gauge-chart>
    </div>
    <div class="col-7 mt-5">
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
  <div class="mt-5">
    <app-map-chart></app-map-chart>
  </div>
  <div class="mt-5">
    <app-primeng-table></app-primeng-table>
  </div>
  <br><br>
  <!-- <div class="mt-5 mb-5">
    <app-datatable></app-datatable>
  </div> -->
</div>